<p id="notice"><%= notice %></p>

<h1>Cardpages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>H1</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cardpages.each do |cardpage| %>
      <tr>
        <td><%= cardpage.title %></td>
        <td><%= cardpage.h1 %></td>
        <td><%= cardpage.body %></td>
        <td><%= link_to 'Show', cardpage %></td>
        <td><%= link_to 'Edit', edit_cardpage_path(cardpage) %></td>
        <td><%= link_to 'Destroy', cardpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cardpage', new_cardpage_path %>
